{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'master/css/thursday_list.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <img src="{% static 'master/images/clare.jpg' %}" />
        </div>
        <div class="col">
            <h3>Clare Maliniak</h3>
            <br>
            <p><b>Department Administrator</b></p>
            <br>
            <p style="margin: 0px;">Luter Hall 313</p>
            <p style="margin: 0px;">(757) 594-7065</p>
            <p>clarem@cnu.edu</p>
        </div>
    </div>
    <br>
    <p>Need more information about Pizza My Mind? Contact Clare Maliniak.</p>
{% endblock %}
