{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'master/css/thursday_list.css' %}">
{% endblock %}

{% block navbar_links %}
    {% if thursday_list %}
        <li class="nav-item"><a href="{% url 'thursdays:thursday-register' %}" class="nav-link">Sign up</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <p id="egggif" style="visibility: hidden;">HERE I AM</p>
    <div class="logo">
        <img src="{% static 'master/images/pizzamymindlogo.png' %}" class="img-fluid">
    </div>
    <br>
    <p class="hide_or_not_to_hide">If available, please register for the below Pizza My Mind dates.</p>
    {% if thursday_list %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th><h2>Dates</h2></th>
                <th><h2>Company</h2></th>
            </tr>
            </thead>
            <tbody>
            {% for day in thursday_list %}
                {% if day.is_currently_available %}
                    <tr id="tuesday">
                        <td>{{ day.date }}</td>
                        {% if day.assigned_company %}
                            {% if day.assigned_company.is_registered %}
                                <td>
                                    <!--Adding the pk as a parameter here redirects to the correct detail page-->
                                    <!--If you take a look at the url for the detail view, there is a "pk" parameter.
                                        This is the parameter-->
                                    <a href="{% url 'thursdays:thursday-detail' pk=day.pk %}">{{ day.assigned_company.name }}</a>
                                </td>
                            {% else %}
                                <td><a href="{% url 'thursdays:bind' pk=day.pk %}">AVAILABLE FOR RESERVATION</a>
                                </td>
                            {% endif %}
                        {% else %}
                            <td><a href="{% url 'thursdays:bind' pk=day.pk %}">AVAILABLE FOR RESERVATION</a></td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text">No Pizza My Mind Dates!</p>
    {% endif %}
    <br>
    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            {% if thursday_list %}
                <div>
                    <form method="GET" id="ARCHIVE_FORM">
                        {% csrf_token %}
                        <input id="archive_input" name="archive" type="submit" class="btn btn-success"
                               value="ARCHIVE"/>
                    </form>
                </div>
                <div id="archive-msg"></div>
            {% endif %}
        {% endif %}
    {% endif %}
    <br>
    <button class="btn btn-primary" onclick="goToPreviousDates()">Previous Pizza My Mind Dates</button>
{% endblock %}

{% block scripts %}
    <script>
        function goToPreviousDates() {
            window.location = "{% url 'thursdays:all-thursdays' %}";
        }

        $(document).ready(function () {
            $("#ARCHIVE_FORM").on('submit', function (e) {
                if (confirm("The Archive Button was activated. This will archive any PMM dates from the previous year. " +
                        "Are you sure?")) {
                    e.preventDefault();
                    $.ajax({
                        type: 'GET',
                        url: '{% url 'thursdays:archive' %}',
                        dataType: 'json', // what i am expecting back from the server,
                        data: {},
                        success: [function (data) {
                            $('.everything').html('').load("{% url 'thursdays:homepage' %}");
                            alert(data.response_message);
                        }]
                    });
                } else {
                    return;
                }
            });
        });

    </script>
{% endblock %}
